body{
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  font-family: 'Cuprum', sans-serif;
  color:#ffffff;
  background-color: #bf282b;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}
h1{
  margin: 0px;
  padding: 0px;
  font-size: 32px;
}
p{
  padding: 0px;
  margin: 0em;
}
#description{
  margin-bottom: 2em;
}
#print{
 display: inline;
}
#target{
  width: 250px;
  height: 250px;
}
#badges{
  margin-top: 10px;
}
#badges a{
  text-decoration:none;
}
@media all and (max-width: 512px){

h1{
 font-size: 22px;
}
}